<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- <script type='text/javascript' src="{{ url_for('static', filename='js/disableBack.js') }}"></script> -->
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
 

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet_nonresponsive.css') }}"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="interface.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/interface.css') }}">
        <script src="https://d3js.org/d3.v4.js"></script>
        <title>Healthcare Records Assistant</title>

    </head>
    <style>
        .card {
            margin-bottom: 20px;
        }
    </style>



    <body>

    <div class="container">
        <div id = "header" align="center">
            <img src="{{url_for('static', filename='medicalRecord.svg')}}" style="width:90px;height:90px; margin-right: 10px;" alt="">
            <span style="font-size:28px;">Healthcare Records Assistant</span>
        </div>

        
    


        <!-- <div class="progress"> -->
            <!-- <div id="progress" class="progress-bar" role="progressbar"></div> -->
        <!-- </div> -->
        <div class = "row" id="interface-row">
            <div class="col-md-3 page scroll" id="page1" >


                    <div id="filters">
           
                            <p style="font-size:20px; padding-top:15px;">Time Period</p>

   

                    </div>
                    <!-- <p class="zoomInfo">(Click the image for zoom-in)</p> -->

    
  
            </div>
            <div class="col-md-9 page scroll frame" id="page2">

                <div id="searchBar" style="margin-top: 15px;">

                    
                    <div class="form-inline my-2 my-lg-0">
                        <input id="searchingInput" class="form-control mr-sm-2" type="search" aria-label="Search" style="width:500px; font-size: 20px;" >
                          <button class="btn btn-outline-success my-2 my-sm-0" type="search" onclick="search()"  style="font-size: 20px;">Search</button>
                    </div>
                </div>

     
                <!-- <h4>Please enter the keyword that you want to search for.</h4> -->

                
                <div id="searchResults" 
                style="margin-top: 50px;  margin-right: 20px; margin-left: 20px; font-size: 18px; display: none;">
                    <!-- <p style="font-size: 16px; color: #bdbdbd;">
                        <span id="num-of-results"></span> results 
                    </p> -->

                    
     


                    


                </div>
            </div>
        </div>


        
    </div>


    <script>






    var data_arr = {{ data_arr | safe}};
    var search_word = {{ search_word | safe}};
    var cur_month_list = {{ cur_month_list | safe}};
    document.getElementById("searchingInput").placeholder = search_word[0];

    </script>


    <script type='text/javascript' src="{{ url_for('static', filename='js/interface.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script> -->
   


    </body>
</html>
