


input {
    color: #646464;
}

label > input[type=radio] {
    display: block;
    margin: 0 auto;
    background-color: rgba(240,240,240, 00.7) ;
}

label {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    color: #646464;
}

body{
	/* background-color:#FFF; */
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    /* text-align: center; */
}



i {
    color:gray;
    font-size: 0.78em;
}

.progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    background-color: rgba(66,146,198, .7);
}
  
.center {
    text-align: center;
}
  



  

p{
    max-width: 900px;
}

h6{
    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 10px;
}


.svg-tooltip {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple   Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: rgba(69,77,93,.9);
    border-radius: .1rem;
    color: #fff;
    display: block;
    font-size: 14px;
    max-width: 320px;
    padding: .2rem .4rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    z-index: 300;
    visibility: hidden;
}


.container {
    top: 50%;
    left: 50%;
    width: 1300px;
    height: 750px;
    transform: translate(-50%, -50%);
    /* border: 1px solid #666;
    background-color: #b9faac; */
    position: fixed;
  }



.container #popup-image {
    position: fixed;
    top: 0;
    left: 0;
    /* background: rgba(0, 0, 0, .9); */
    background: rgba(240,240,240, 0.7);
    height: 98%;
    width: 98%;
    z-index: 100;
    display: none;
}


.container #timeEnd {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    /* background: rgba(0, 0, 0, .9); */
    background: white;
    border:2px solid rgba(189,189,189,0.7);
    height: 100%;
    width: 100%;
    z-index: 100;
    color:#646464;
    display: none;
    height: 101%;
}

.container #timeEnd h1{
    padding-top: 20%;
    padding-bottom: 10px;
}


#timeEndGoToSurveyBtn {
    margin-top: 50px;
    background-color: rgba(66,146,198,0.7);
    color:#fff;
    /* height: 25px; */
    text-align: center;
    /* font-size: 18px; */
}

.container #popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    /* color: #636363; */
    color: #fff;
    cursor: pointer;
    z-index: 100;
}


.container #popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 5px solid #fff; */
    border-radius: 5px;
    max-width: 100%;
    height: 98%;
    /* object-fit: cover; */
    object-fit: contain;
}


#timer {
    text-align: center;
    font-size: 24px;
    color:#646464;
    padding-top: 5px;

    /* add the padding-right if text-align :right */
    /* padding-right: 15px;   */
}







.row {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 85%;
    width: 100%;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

#pagetitle {
    text-align: center;
    font-weight: bold;
    color:#252525;
    opacity: 0.9;

}

#askResult {
    margin-top: 25px;
    /* font-size: 20px; */
}


#userInputDetection {
    margin-top: 15px;
}
#userInputDetection p {
    margin-bottom: 0px;
}


/* #openBaggageResult {
    font-size: 20px;
} */


#waitNotice {
    color:rgba(189,189,189,1);
}

#baggageInfo .txtParagraph {
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 55px;
}


#taskImg {
    cursor: zoom-in;
}


#saliencyImg {
    cursor: zoom-in;
}



.similarImgs img {
    cursor: zoom-in;
}

input[type='checkbox'] { 
    margin-left: 22px;
}



#page1 {
    background: rgba(222,235,247, 0.7);
    color:#646464;
}


#acceptBtn {
	position: absolute;
	left: 50%
}

#submitBtn {
	position: absolute;
	left: 50%
}

.star {
	color:red;
}

bluetext {
    color: blue;
}

input.left-indent, textarea.left-indent, b.left-indent {
    margin-left: 25px;
    margin-right: 8px;
}

input.first-item, textarea.first-item, b.first-item {
    margin-top: 8px;
}

/* custom secondary buttons */
.btn-secondary:disabled {
	color: gray !important;
	background-color: #efefef !important;
	border-color: #efefef !important
}


.btn {
    background-color: rgba(66,146,198,0.7);
    color:#fff;
    margin-top: 15px;
    /* height: 25px; */
    text-align: center;
}

div.scroll {
    /* background-color: #fed9ff; */
    /* width: 600px;
    height: 150px; */
    overflow-x: hidden;
    overflow-y: auto;
    /* text-align: center; */
    /* padding: 15px; */
  }


.figurecolumn {
    float: left;
    width: 33.33%;
    padding: 5px;
}




#page2 {
    color: #646464;
    font-size: 20px;
}


#confidenceAgreeModelBeforeXAI {
    visibility: hidden;
}


.page {
    height: 100%;
}

.confidenceScore {
    padding-left: 22px;
    padding-right: 22px;
}


/* .confidenceHighest {
    font-size: 12px;
}

.confidenceLowest {
    font-size: 12px;
} */

.headrow {
    background-color: #878787; 
    color: #ffffff;
  }

  th {
    font-weight: normal;
    text-align: center;
  }



  table {
    font-size: 17px;
    margin-bottom: 15px;
    border:1px solid rgba(150,150,150,0.7);
  }
  

  td, th, tr {
    max-width:100%;
    /* white-space:nowrap; */
    /* padding: 2px 4px; */
}



td {
    height: 80px;
}


td.metricsName {
    text-align: center;
    color: #646464;
    
}


.barchartImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
th {
    font-weight: bold;
} 


  table > thead > tr > th{
        border:1px solid rgba(150,150,150,0.7);
    }
    table > thead > tr > th#metricsRowName{
        border-right-color: rgba(240,240,240,0.7);
    }
    table > thead > tr > th#valueRowName{
        border-left-color: rgba(240,240,240,0.7);
    }
  table > tbody > tr > td{
        border:1px solid rgba(150,150,150,0.7);
    }

    /* fieldset {
        padding: 5px 5px 5px 12px;
    } */
  

  .barvalue-text {
    font-size: 11px;
  }



  img{ 
    /* width:500px; */
    max-width:100%;
    max-height: 100%;
}

/*change the max width of the 'container' class*/
@media only screen and (min-width : 1200px) {
    .container { max-width: 1500px; }
}




   .progress {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    height: 20px;
    margin-left: auto; margin-right:auto;
    /* margin: 4px; */

   }

   #question {
    margin-top: 30px;
    margin-bottom: 15px;
   }



   #modelDetection {
    margin-top: 15px;
    margin-bottom: 15px;
   }

   .saliencyMap {
        display: block;
        margin-bottom: 10px;
    }

    .similarImgs {
        display: block;
        margin-bottom: 10px;
    }

  

.similarImgsLabel {
    /* font-size: 20px; */
    margin-top: 10px;
    margin-bottom: 3px;
}

.saliencyImgLabel {
    /* font-size: 20px; */
    margin-bottom: 3px;
    margin-top: 30px;
}



  .zoomInfo {
    text-align: left;
    font-size: 15px;
    margin-bottom: 3px;
    color: #969696;
 }
  
  #FinalSubmissionStr {
    /* font-size: 20px; */
    text-decoration: underline;
  }

  /* .modelDetectionstr {
    font-size: 24px;
    text-decoration: underline;
  } */


 
  
  


  
  
  